body {
    background-size: cover;
    background-position: center;
    color: #fff;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Neucha', cursive;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 1;
    background-image: url('../images/background.png');
}
.but
{
    text-align: center;
    margin-top: 233px;
  
}



